.inputComp {
  .inputCompWrap {
    display: grid; grid-template-columns: 1fr auto; gap: 20px;
    .inputTag {
      height: 70px;
      padding: 0px 20px;
      background-color: #251e27;
      border-radius: 2rem;
    }
    .inputBtn {
      background-color: #251e27;
      width: 70px; height: 70px;
      border-radius: 50%;
      font-size: 1.2rem;
      cursor: pointer;
    }
    .inputTag::placeholder {
      color: #fff;
      opacity: 0.5;
    }
  }
}